<!DOCTYPE html>
<html class="loading dark-layout" lang="en" data-layout="dark-layout" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description"
          content="sigrrow station">
    <meta name="keywords"
          content="sigrrow station">
    <title>sigrrow | station</title>
    <link rel="apple-touch-icon" href="">
    <link rel="shortcut icon" type="image/x-icon" href="">

    <!-- Montserrat-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600"
          rel="stylesheet">
    <!-- Montserrat-->

    <!-- Noto Sans KR -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <!-- Noto Sans KR -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZTR7CC6SQX"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-ZTR7CC6SQX');
    </script>

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="./app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="./app-assets/vendors/css/calendars/fullcalendar.min.css">
    <link rel="stylesheet" type="text/css" href="./app-assets/vendors/css/extensions/toastr.min.css">
    <!-- END: Vendor CSS-->


    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="./app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="./app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="./app-assets/css/components.css">
    <link rel="stylesheet" type="text/css" href="./app-assets/css/themes/dark-layout.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="./app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="./app-assets/css/plugins/extensions/ext-component-toastr.css">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-sticky footer-fixed fixed-footer" data-open="click"
      data-menu="vertical-menu-modern" data-col="">

<!-- BEGIN: Header-->
<nav class="header-navbar navbar navbar-expand-lg align-items-center navbar-dark navbar-shadow fixed-top">
    <div class="navbar-container d-flex content">

        <ul class="nav navbar-nav align-items-center  ml-auto">

            <li class="nav-item mx-2">
                <!-- <img src="assets/images/Icon_Chart_W_S.png" height="32" width="32"/></li>-->
                <a class="nav-link nav-top-text" href="./notice.html">공지사항</a>
            </li>
            <li class="nav-item mx-2">
                <!-- <img src="assets/images/Icon_Chart_W_S.png" height="32" width="32"/></li>-->
                <a class="nav-link nav-top-text" href="./contact.html">문의하기</a>
            </li>

            <li th:if="${user.getUserKey().isAdmin()}" class="nav-item mx-2">
                <!-- <img src="assets/images/Icon_Chart_W_S.png" height="32" width="32"/></li>-->
                <a class="nav-link nav-top-text" href="./org.html">사용자관리</a>
            </li>

            <li th:if="${user.getUserKey().isAdmin()}" class="nav-item mx-2 dropdown dropdown-user">
                <!-- <img src="assets/images/Icon_Chart_W_S.png" height="32" width="32"/></li>-->
                <a class="nav-link nav-top-text dropdown-toggle dropdown-user-link" id="dropdown-payment"
                   href="javascript:alert('준비중입니다.')"
                   data-toggle="" aria-haspopup="true" aria-expanded="true">결제정보</a>
            </li>

            <li class="nav-item dropdown">
                <a class="d-flex justify-content-between align-items-center kor dropdown-toggle" id="user-manage" data-toggle="dropdown">
                    <img class="mr-1" src="./assets/images/Icon_User_W_S.png" height="32" width="32"/>
                    <div class="d-flex flex-column">
                        <span class="text-white font-small-2 font-weight-lighter ">환영합니다!</span>
                        <span class=" text-white ">
                            <small>관리자</small>
                            테스트 사용자<small>님</small>
                        </span>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-manage">
                    <a class="dropdown-item" href="./user.html"><span class="kor">정보 수정</span></a>
                    <a class="dropdown-item" href="./index.html"><span class="kor">로그아웃</span></a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!-- END: Header-->

<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-dark menu-accordion" data-scroll-to-active="true"> <!-- menu-shadow -->
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row ">


            <li class=" nav-item">
                <div class="d-flex pt-1 align-items-center ">
                    <img src="assets/images/logo/logo_sigrrow.png" height="32"/>
                </div>
            </li>



        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">


            <li class=" navigation-header">
                <span data-i18n="Alerts">Alerts</span>
            </li>

            <li class=" nav-item">
                <a class="d-flex align-items-center" href="./alert.html">
                    <img src="assets/images/icons/Icon_Alert_History_W_S.png" height="32" width="32"/>
                    <span class="menu-title text-truncate ml-1">Alert History</span>
                </a>
            </li>

            <li class=" navigation-header">Detailed Reports
            </li>

<!--            <li class=" nav-item">-->
<!--                <a class="d-flex align-items-center" href="/report_menu?term=monthly">-->
<!--                    <img src="assets/images/icons/Icon_Report_Monthly_W_S.png" height="32" width="32"/>-->
<!--                    <span class="menu-title text-truncate">Monthly Report</span>-->
<!--                </a>-->
<!--            </li>-->
            <li class=" nav-item"><a class="d-flex align-items-center" href="./report_weekly.html">
                <img src="./assets/images/icons/Icon_Report_Weekly_W_S.png" height="32" width="32"/>
                <span class="menu-title text-truncate ml-1">Weekly Report</span></a>
            </li>
            <li class=" nav-item"><a class="d-flex align-items-center" href="./report_daily.html">
                <img src="./assets/images/icons/Icon_Report_Daily_W_S.png" height="32" width="32"/>
                <span class="menu-title text-truncateml ml-1">Daily Report</span></a>
            </li>
            <li class=" nav-item"><a class="d-flex align-items-center" href="./report_hourly.html">
                <img src="./assets/images/icons/Icon_Report_Hourly_W_S.png" height="32" width="32"/>
                <span class="menu-title text-truncate ml-1">Hourly Report</span></a>
            </li>


            <li class=" navigation-bottom-header mt-1">Preferences</li>

            <li class=" nav-item"><a class="d-flex align-items-center" href="./channel.html">
                <img src="./assets/images/icons/Icon_Alarm_Channel_W_S.png" height="32" width="32"/>
                <span class="menu-title text-truncate font-weight-light ml-1 kor">알람 채널 설정</span></a>
            </li>
            <li class=" nav-item"><a class="d-flex align-items-center" href="./limit.html">
                <img src="./assets/images/icons/Icon_Alarm_Limit_W_S.png" height="32" width="32"/>
                <span class="menu-title text-truncate font-weight-light ml-1 kor">임계치 설정</span></a>
            </li>


        </ul>
    </div>
    <div class="nav-bottom ">
        <div class="divider mt-2">
            <span class="kor">station은 chrome에<br> 최적화되어있습니다.</span>
        </div>
        <ul class="navigation navigation-main" data-menu="menu-navigation">

            <!--            <li class=" nav-item">-->
            <!--                <div class="d-flex align-items-center ml-3 mt-2">-->
            <!--                    <img src="assets/images/logo/logo_sigrrow.png" height="32"/>-->
            <!--                </div>-->
            <!--            </li>-->

        </ul>
    </div>
</div>
<!-- END: Main Menu-->

<!-- BEGIN: Content ----- # Change Here ########################################### -->
<div>

    <!-- user & setups  -->
    <div class="app-content content report-section" id="Report">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xl p-0 section-border">

            <!-- Content Left Starts -->
            <div class="content-detached content-left">

                <!-- Detail starts -->
                <div class="content-body">


                    <!-- YEARLY Chart Starts -->
                    <section id="Alerts">
                        <div class="row">
                            <div class="content-header-left col-md-12 col-12 mb-1">
                                <div class="row">
                                    <div class="d-flex flex-row justify-content-start col-12">
                                        <div class="float-left mb-0">
                                            <img src="./assets/images/icons/Icon_Notice_W.png" height="54"
                                                 width="54"/>
                                        </div>
                                        <div class="ml-1 mr-auto">
                                            <h2 class="mb-0 text-white mb-1 kor">공지사항</h2>
                                            <h6 class="kor text-grey"></h6>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <!-- right top -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Card - Table -->
                        <div class="card col-12">
                            <div class="card-header justify-content-between align-content-center mb-50">
                            </div>
                            <div class="card-body ">
                                <div class="">
                                    <table class="table table-bordered table-striped kor">
                                        <thead>
                                        <tr>
<!--                                            <th>No</th>-->
                                            <th>title</th>
<!--                                            <th>Writer</th>-->
                                            <th>Date time</th>
                                            <th>views</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
<!--                                            <td th:text="${notice.idx}">1</td>-->
                                            <td><a href="./notice_detail.html"><span class="kor">체험을 위한 샘플사이트입니다.</span></a></td>
<!--                                            <td th:text="${notice.writer}">Writer</td>-->
                                            <td>2021-03-18T19:28:47</td>
<!--                                            <td th:text="${#dates.format(notice.createDate, 'yyyy-MM-dd')}">Date time</td>-->
                                            <td>1</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <!-- Card - Table -->

                    </section>
                    <!-- YEARLY Chart Ends -->


                    <div class="clearfix my-5"></div>


                </div>
                <!-- Detail ends -->

            </div>
            <!-- Content Left Ends -->

            <!-- Content Right Starts -->
            <div class="sidebar-detached sidebar-right bg-white">
                <div class="sidebar bg-primary">
                    <div class="my-2 my-lg-0 bg-primary" style="width:100%; height:100%;">

                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- user & setups  -->


</div>
<!-- END: Content ----- # Change Here ########################################### -->

<div class="sidenav-overlay"></div>
<div class="drag-target"></div>

<!-- BEGIN: Footer-->
<footer class="footer footer-fixed footer-light">
    <div class="d-flex justify-content-between">
        <div class="order-sm-2 mb-0">
        <span class="clearfix mb-0"><span class="float-md-left d-block d-md-inline-block mt-25">COPYRIGHT &copy; 2021<a
                class="ml-25" href="https://sigrrow.com" target="_blank">sigrrow</a><span
                class="d-none d-sm-inline-block">, All rights Reserved</span></span>
        </span>
        </div>
        <div class="order-sm-1 mb-0">
        <span class="d-flex">

            <a class="font-small-2 text-grey kor mx-1 small" href="./menuTerms.html">이용약관</a>
            <a class="font-small-2 text-grey kor mx-1 small" href="./menuPrivacy.html">개인정보처리방침</a>
            <span class="kor small">sigrrow | 사업자번호 : 421-54-00480 | 대표이사 : 이주영 | contact@sigrrow.io | 통신판매업신고번호 : 2021-용인수지-0526 | 경기도 용인시 수지구 현암로 107, 402호</span>
        </span>
        </div>
    </div>
</footer>
<button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>
<!-- END: Footer-->

<!-- BEGIN: Vendor JS-->
<script src="./app-assets/vendors/js/vendors.min.js"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="./app-assets/vendors/js/calendar/fullcalendar.min.js"></script>
<script src="./app-assets/vendors/js/extensions/moment.min.js"></script>
<script src="./app-assets/vendors/js/extensions/toastr.min.js"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="./app-assets/js/core/app-menu.min.js"></script>
<script src="./app-assets/js/core/app.min.js"></script>
<!-- END: Theme JS-->


<script>
    $(window).on('load', function () {
        if (feather) {
            feather.replace({
                width: 14,
                height: 14
            });
        }

    })
</script>

</body>
<!-- END: Body-->

</html>
