
<!DOCTYPE html>
<html lang="ko" class="loading dark-layout" data-layout="dark-layout" data-textdirection="ltr">

<head>
    <!-- config fragment 사용 -->
    
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta name="description"
              content="sigrrow station">
        <meta name="keywords"
              content="sigrrow station">
        <title>sigrrow | station</title>
        <link rel="apple-touch-icon" href="">
        <link rel="shortcut icon" type="image/x-icon" href="">
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="assets/images/favicon/site.webmanifest">
        <link rel="mask-icon" href="assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="apple-mobile-web-app-title" content="sigrrow station">
        <meta name="application-name" content="sigrrow station">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="theme-color" content="#ffffff">
        <!-- favicon -->

        <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZTR7CC6SQX"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-ZTR7CC6SQX');
        </script>

        <!-- Montserrat-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600"
              rel="stylesheet">
        <!-- Montserrat-->

        <!-- Noto Sans KR -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
              rel="stylesheet">
        <!-- Noto Sans KR -->

        <!-- BEGIN: Vendor CSS-->
        <link rel="stylesheet" type="text/css" href="app-assets/vendors/css/vendors.min.css">
        <!-- END: Vendor CSS-->

        <!-- BEGIN: Theme CSS-->
        <link rel="stylesheet" type="text/css" href="app-assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="app-assets/css/bootstrap-extended.min.css">
        <link rel="stylesheet" type="text/css" href="app-assets/css/colors.min.css">
        <link rel="stylesheet" type="text/css" href="app-assets/css/components.min.css">
        <link rel="stylesheet" type="text/css" href="app-assets/css/themes/dark-layout.min.css">


        <!-- BEGIN: Page CSS-->
        <link rel="stylesheet" type="text/css" href="app-assets/css/core/menu/menu-types/vertical-menu.css">
        <!-- END: Page CSS-->

        <!-- BEGIN: Custom CSS-->
        <link rel="stylesheet" type="text/css" href="assets/css/style.css">
        <!-- BEGIN: Vendor JS-->
        <script src="app-assets/vendors/js/vendors.min.js"></script>
        <!-- BEGIN Vendor JS-->

        
        
    

        <meta name="_csrf" content="ffb9cc04-28c2-4b10-a58a-61427ca0530f">
        <meta name="_csrf_header" content="X-CSRF-TOKEN">
        <link rel="stylesheet" type="text/css" href="app-assets/vendors/css/extensions/toastr.min.css">
    

        <script src="app-assets/vendors/js/extensions/toastr.min.js"></script>
    
</head>
<body class="vertical-layout vertical-menu-modern  navbar-sticky footer-fixed fixed-footer" data-open="click" data-menu="vertical-menu-modern" data-col="">
<nav class="header-navbar navbar navbar-expand-lg align-items-center navbar-dark navbar-shadow fixed-top">
    <div class="navbar-container d-flex content">

        <ul class="nav navbar-nav align-items-center  ml-auto">

            <li class="nav-item mx-2">
                <!-- <img src="assets/images/Icon_Chart_W_S.png" height="32" width="32"/></li>-->
                <a class="nav-link nav-top-text" href="./notice.html">공지사항</a>
            </li>
            <li class="nav-item mx-2">
                <!-- <img src="assets/images/Icon_Chart_W_S.png" height="32" width="32"/></li>-->
                <a class="nav-link nav-top-text" href="./contact.html">문의하기</a>
            </li>

            <li th:if="${user.getUserKey().isAdmin()}" class="nav-item mx-2">
                <!-- <img src="assets/images/Icon_Chart_W_S.png" height="32" width="32"/></li>-->
                <a class="nav-link nav-top-text" href="./org.html">사용자관리</a>
            </li>

            <li th:if="${user.getUserKey().isAdmin()}" class="nav-item mx-2 dropdown dropdown-user">
                <!-- <img src="assets/images/Icon_Chart_W_S.png" height="32" width="32"/></li>-->
                <a class="nav-link nav-top-text dropdown-toggle dropdown-user-link" id="dropdown-payment"
                   href="javascript:alert('준비중입니다.')"
                   data-toggle="" aria-haspopup="true" aria-expanded="true">결제정보</a>
            </li>

            <li class="nav-item dropdown">
                <a class="d-flex justify-content-between align-items-center kor dropdown-toggle" id="user-manage" data-toggle="dropdown">
                    <img class="mr-1" src="./assets/images/Icon_User_W_S.png" height="32" width="32"/>
                    <div class="d-flex flex-column">
                        <span class="text-white font-small-2 font-weight-lighter ">환영합니다!</span>
                        <span class=" text-white ">
                            <small>관리자</small>
                            테스트 사용자<small>님</small>
                        </span>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-manage">
                    <a class="dropdown-item" href="./user.html"><span class="kor">정보 수정</span></a>
                    <a class="dropdown-item" href="./index.html"><span class="kor">로그아웃</span></a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="main-menu menu-fixed menu-dark menu-accordion" data-scroll-to-active="true"> <!-- menu-shadow -->
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row ">


            <li class=" nav-item">
                <div class="d-flex pt-1 align-items-center ">
                    <img src="assets/images/logo/logo_sigrrow.png" height="32"/>
                </div>
            </li>



        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">


            <li class=" navigation-header">
                <span data-i18n="Alerts">Alerts</span>
            </li>

            <li class=" nav-item">
                <a class="d-flex align-items-center" href="./alert.html">
                    <img src="assets/images/icons/Icon_Alert_History_W_S.png" height="32" width="32"/>
                    <span class="menu-title text-truncate ml-1">Alert History</span>
                </a>
            </li>

            <li class=" navigation-header">Detailed Reports
            </li>

<!--            <li class=" nav-item">-->
<!--                <a class="d-flex align-items-center" href="/report_menu?term=monthly">-->
<!--                    <img src="assets/images/icons/Icon_Report_Monthly_W_S.png" height="32" width="32"/>-->
<!--                    <span class="menu-title text-truncate">Monthly Report</span>-->
<!--                </a>-->
<!--            </li>-->
            <li class=" nav-item"><a class="d-flex align-items-center" href="./report_weekly.html">
                <img src="./assets/images/icons/Icon_Report_Weekly_W_S.png" height="32" width="32"/>
                <span class="menu-title text-truncate ml-1">Weekly Report</span></a>
            </li>
            <li class=" nav-item"><a class="d-flex align-items-center" href="./report_daily.html">
                <img src="./assets/images/icons/Icon_Report_Daily_W_S.png" height="32" width="32"/>
                <span class="menu-title text-truncateml ml-1">Daily Report</span></a>
            </li>
            <li class=" nav-item"><a class="d-flex align-items-center" href="./report_hourly.html">
                <img src="./assets/images/icons/Icon_Report_Hourly_W_S.png" height="32" width="32"/>
                <span class="menu-title text-truncate ml-1">Hourly Report</span></a>
            </li>


            <li class=" navigation-bottom-header mt-1">Preferences</li>

            <li class=" nav-item"><a class="d-flex align-items-center" href="./channel.html">
                <img src="./assets/images/icons/Icon_Alarm_Channel_W_S.png" height="32" width="32"/>
                <span class="menu-title text-truncate font-weight-light ml-1 kor">알람 채널 설정</span></a>
            </li>
            <li class=" nav-item"><a class="d-flex align-items-center" href="./limit.html">
                <img src="./assets/images/icons/Icon_Alarm_Limit_W_S.png" height="32" width="32"/>
                <span class="menu-title text-truncate font-weight-light ml-1 kor">임계치 설정</span></a>
            </li>


        </ul>
    </div>
    <div class="nav-bottom ">
        <div class="divider mt-2">
            <span class="kor">station은 chrome에<br> 최적화되어있습니다.</span>
        </div>
        <ul class="navigation navigation-main" data-menu="menu-navigation">

            <!--            <li class=" nav-item">-->
            <!--                <div class="d-flex align-items-center ml-3 mt-2">-->
            <!--                    <img src="assets/images/logo/logo_sigrrow.png" height="32"/>-->
            <!--                </div>-->
            <!--            </li>-->

        </ul>
    </div>
</div>

<div>

    <!-- user & setups  -->
    <div class="app-content content report-section" id="Report">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xl p-0 section-border">

            <!-- Content Left Starts -->
            <div class="content-detached content-left">

                <!-- Detail starts -->
                <div class="content-body">

                    <!-- user account start -->
                    <section class="user-account">
                        <div class="row">
                            <div class="content-header-left col-md-12 col-12 mb-1">
                                <div class="row">
                                    <div class="d-flex flex-row justify-content-start col-12">
                                        <div class="float-left mb-0">
                                            <img src="assets/images/icons/Icon_Account_W.png" height="54"
                                                 width="54"/>
                                        </div>
                                        <div class="ml-1 mr-auto">
                                            <h2 class="mb-0 text-white mb-1 kor">계정 관리</h2>
                                            <h6 class="kor text-grey"></h6>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <!-- right top -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form class="">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 mt-2 mt-xl-0">
                                        <div class="user-info-wrapper">

                                            <div class="row my-50">
                                                <div class="col-4 d-flex align-items-center">
                                                    <!--                                                    <i data-feather="star" class="mr-1"></i>-->
                                                    <div class="text-nowrap card-text user-info-title font-weight-bold mb-0 mr-1 kor">
                                                        등급
                                                    </div>
                                                </div>
                                                <div class="col-8 user-data-box">
                                                    <span>Admin</span>
                                                    
                                                </div>
                                            </div>
                                            <div class="row my-50">
                                                <div class="col-4 d-flex align-items-center">
                                                    <!--                                                    <i data-feather="star" class="mr-1"></i>-->
                                                    <div class="text-nowrap card-text user-info-title font-weight-bold mb-0 mr-1 kor">
                                                        회사명
                                                    </div>
                                                </div>
                                                <div class="col-8 user-data-box">
                                                    <span>sigrrow</span>
                                                </div>
                                            </div>
                                            <div class="row my-50">
                                                <div class="col-4 d-flex align-items-center">
                                                    <!--                                                    <i data-feather="star" class="mr-1"></i>-->
                                                    <div class="text-nowrap card-text user-info-title font-weight-bold mb-0 mr-1 kor">
                                                        부서명
                                                    </div>
                                                </div>
                                                <div class="col-8 user-data-box">
                                                    <input
                                                            type="text"
                                                            class="form-control"
                                                            id="department"
                                                            name="department"
                                                            value="dev"
                                                            tabindex="1"
                                                            autofocus
                                                    >
                                                </div>
                                            </div>

                                            <div class="row my-50">
                                                <div class="col-4 d-flex align-items-center">
                                                    <!--                                                    <i data-feather="user" class="mr-1"></i>-->
                                                    <div class="text-nowrap card-text user-info-title font-weight-bold mb-0 mr-1 kor">
                                                        사용자명
                                                    </div>
                                                </div>
                                                <div class="col-8 user-data-box kor">
                                                    <span class="kor">샘플</span>
                                                </div>
                                            </div>

                                            <div class="row mt-50 mb-75">
                                                <div class="col-4 d-flex align-items-center">
                                                    <!--                                                    <i data-feather="log-in" class="mr-1"></i>-->
                                                    <div class="text-nowrap card-text user-info-title font-weight-bold mb-0 mr-1">
                                                        ID
                                                    </div>
                                                </div>
                                                <div class="col-8 user-data-box">
                                                    <span>contact@sigrrow.io</span>
                                                </div>
                                            </div>

                                            <div class="row mt-50 mb-75">
                                                <div class="col-4 d-flex align-items-center">
                                                    <!--                                                    <i data-feather="log-in" class="mr-1"></i>-->
                                                    <div class="text-nowrap card-text user-info-title font-weight-bold mb-0 mr-1 kor">
                                                        현재 비밀번호
                                                    </div>
                                                </div>
                                                <div class="col-8 user-data-box">
                                                    <input
                                                            type="password"
                                                            class="form-control"
                                                            id="current"
                                                            name="current"
                                                            tabindex="1"
                                                            autofocus
                                                    >
                                                </div>
                                            </div>

                                            <div class="row mt-50 mb-75">
                                                <div class="col-4 d-flex align-items-center">
                                                    <!--                                                    <i data-feather="log-in" class="mr-1"></i>-->
                                                    <div class="text-nowrap card-text user-info-title font-weight-bold mb-0 mr-1 kor">
                                                        변경할 비밀번호
                                                    </div>
                                                </div>
                                                <div class="col-8 user-data-box">
                                                    <input
                                                            type="password"
                                                            class="form-control"
                                                            id="changePassword"
                                                            name="changePassword"
                                                            tabindex="1"
                                                            autofocus
                                                    >
                                                </div>
                                            </div>
                                            <div class="row mt-50 mb-75">
                                                <div class="col-4 d-flex align-items-center">
                                                    <!--                                                    <i data-feather="log-in" class="mr-1"></i>-->
                                                    <div class="text-nowrap card-text user-info-title font-weight-bold mb-0 mr-1 kor">
                                                        변경할 비밀번호 확인
                                                    </div>
                                                </div>
                                                <div class="col-8 user-data-box">
                                                    <input
                                                            type="password"
                                                            class="form-control"
                                                            id="changePassword2"
                                                            name="changePassword2"
                                                            tabindex="1"
                                                            autofocus
                                                    >
                                                </div>

                                            </div>

                                            <div class="row mt-75 mb-50">
                                                <div class="col-4 d-flex align-items-center">
                                                    <!--                                                    <i data-feather="star" class="mr-1"></i>-->
                                                    <div class="text-nowrap card-text user-info-title font-weight-bold mb-0 mr-1 kor">

                                                    </div>
                                                </div>
                                                <button type="submit" onclick="alert('샘플에서는 동작하지 않습니다.')" class="btn btn-primary align-middle kor">
                                                    저장
                                                </button>&nbsp;
                                                <button type="reset" onclick="alert('샘플에서는 동작하지 않습니다.')" class="btn btn-danger align-middle kor" id="cancelUpdateAccount">
                                                    취소
                                                </button>
                                            </div>

                                            <div class="row mt-2 mb-50">
                                                <div class="col-4 d-flex align-items-center">
                                                </div>
                                                <button type="button" onclick="javascript:withdrawl()" class="btn btn-outline-secondary kor">
                                                    탈퇴하기
                                                </button>
                                                <!-- Modal -->
                                                <div
                                                        class="modal fade text-left modal-warning"
                                                        id="leave"
                                                        tabindex="-1"
                                                        role="dialog"
                                                        aria-labelledby="myModalLabel140"
                                                        aria-hidden="true"
                                                >
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title kor" id="modal_leave">회원탈퇴</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body kor">
                                                                일반 사용자를 가진 관리자는 탈퇴할 수 없습니다.
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-warning kor"
                                                                        data-dismiss="modal">확인
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                        </form>
                    </section>
                    <!-- user account ends -->

                    <div class="clearfix my-5"></div>


                </div>
                <!-- Detail ends -->

            </div>
            <!-- Content Left Ends -->

            <!-- Content Right Starts -->
            <div class="sidebar-detached sidebar-right bg-white">
                <div class="sidebar bg-primary">
                    <div class="my-2 my-lg-0 bg-primary" style="width:100%; height:100%;">

                    </div>

                </div>
            </div>

        </div>
    </div>

    <script src="./app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>

</div>

<div>
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <footer class="footer footer-fixed footer-light">
        <div class="d-flex justify-content-between">
            <div class="order-sm-2 mb-0">
            <span class="clearfix mb-0"><span class="float-md-left d-block d-md-inline-block mt-25">COPYRIGHT &copy; 2021<a
                    class="ml-25" href="https://sigrrow.com" target="_blank">sigrrow</a><span
                    class="d-none d-sm-inline-block">, All rights Reserved</span></span>
            </span>
            </div>
            <div class="order-sm-1 mb-0">
            <span class="d-flex">

                <a class="font-small-2 text-grey kor mx-1 small" href="/menuTerms">이용약관</a>
                <a class="font-small-2 text-grey kor mx-1 small" href="/menuPrivacy">개인정보처리방침</a>
                <span class="kor small">sigrrow | 사업자번호 : 421-54-00480 | 대표이사 : 이주영 | contact@sigrrow.io | 통신판매업신고번호 : 2021-용인수지-0526 | 경기도 용인시 수지구 현암로 107, 402호</span>
            </span>
            </div>
        </div>
    </footer>
    <button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>


    <!-- BEGIN: Theme JS-->
    <script src="app-assets/js/core/app-menu.min.js"></script>
    <script src="app-assets/js/core/app.min.js"></script>

    <!-- END: Theme JS-->
    <script>
        /*<![CDATA[*/
        function withdrawl(event) {
            alert('샘플에서는 동작하지 않습니다.')
        }
        /*]]>*/
    </script>

</div>

</body>
</html>
